# qrouter runtime script for project my_mcu_top

verbose 1
read_lef  /usr/local/share/qflow/tech/etri050/etri050_stdcells.lef
catch {layers 3}
via stack none
vdd vdd
gnd gnd
obstruction -9.0 1408.5 1446.0 1416.0 metal1
obstruction -9.0 -9.0 1446.0 1.5 metal1
obstruction -9.0 -9.0 1.5 1416.0 metal1
obstruction 1438.5 -9.0 1446.0 1416.0 metal1
obstruction 1.5 1408.5 1438.5 1416.0 metal3
obstruction 1.5 -9.0 1438.5 1.5 metal3
obstruction -9.0 1.5 1.5 1408.5 metal2
obstruction 1438.5 1.5 1446.0 1408.5 metal2
read_def my_mcu_top.def
qrouter::standard_route my_mcu_top_route.def false 
quit
