# qrouter runtime script for project my_mcu_top

verbose 1
read_lef  /usr/local/share/qflow/tech/etri050/etri050_stdcells.lef
catch {layers 3}
via stack none
vdd vdd
gnd gnd
obstruction -9.0 1336.5 1341.0 1344.0 metal1
obstruction -9.0 -3.0 1341.0 1.5 metal1
obstruction -9.0 -3.0 1.5 1344.0 metal1
obstruction 1333.5 -3.0 1341.0 1344.0 metal1
obstruction 1.5 1336.5 1333.5 1344.0 metal3
obstruction 1.5 -3.0 1333.5 1.5 metal3
obstruction -9.0 1.5 1.5 1336.5 metal2
obstruction 1333.5 1.5 1341.0 1336.5 metal2
read_def my_mcu_top.def
qrouter::standard_route my_mcu_top_route.def false 
quit
