# qrouter runtime script for project serv_exec_unit

verbose 1
read_lef  /usr/local/share/qflow/tech/etri050/etri050_stdcells.lef
catch {layers 3}
via stack none
vdd vdd
gnd gnd
obstruction -9.0 868.5 915.0 876.0 metal1
obstruction -9.0 -9.0 915.0 1.5 metal1
obstruction -9.0 -9.0 1.5 876.0 metal1
obstruction 907.5 -9.0 915.0 876.0 metal1
obstruction 1.5 868.5 907.5 876.0 metal3
obstruction 1.5 -9.0 907.5 1.5 metal3
obstruction -9.0 1.5 1.5 868.5 metal2
obstruction 907.5 1.5 915.0 868.5 metal2
read_def serv_exec_unit.def
qrouter::standard_route serv_exec_unit_route.def false 
quit
